/*RESET*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "contenedores/index";
@import "contenedores/productos";
@import "contenedores/como-comprar";
@import "contenedores/preguntas";
@import "contenedores/contactos";
@import "parcial/footer";


