/*Seccion Como Comprar HTML*/

.page-header{
    @extend %estilosPage;
    div{
        h2{
            color: black;
            margin-left: 60px;
            padding-top: 20px;
            font-size: 36px;
            font-weight: bolder;
        }
    }
}

.user-buy{
    background-color: $color-blanco;
    width: 100%;
    padding-top: 20px;
    padding-left: 60px;
    div{
        p{
            span{
                @include spantexto
            }
        }
        ol{
            color: $color-negro;
            font-size: 14px;
            line-height: 45px;
            padding-left: 30px;
            span{
                @include spantexto
            }
            li{
                ul{
                    padding-left: 28px;
                    span{
                        @include spantexto
                    }
                }
            }
        }
    }
}

/*Responsivve Como-Comprar*/

@media screen and (max-width: 720px){
    p{
        font-size: 0.9em;
    }

    .user-buy{
        padding: 50px 0px 0px 10px;
        font-size: 0.8em;
    }

    .user-buy div{
        padding: 0px 15px 5px 10px;
        text-align: start;
    }

    .user-buy div ol{
        padding-left: 15px;
    }

    .page-header{
        padding-top: 50px;
        height: 50px;
        text-align: center;
    }

    .page-header div h2{
        font-size: 1.3em;
        padding-top: 15px;
        text-align: center;
        margin: 0px;
    }
}
