//VARIABLES de SASS
$color-fondomain: #F4F4F4;
$color-fondoblanco: #FFFFFF;
$color-blanco: #FFFFFF;
$color-gris: gray;
$color-negro: black;
$color-borde: blueviolet;
$color-btnclaro: #3DDA71;
$color-btnoscuro: #168D06;
$color-bordecontacto: #E8E8E9;