//VARIABLES de SASS
$color-fondomain: #F4F4F4;
$color-fondoblanco: #fff;
$color-blanco: #fff;
$color-gris: gray;
$color-negro: black;
$color-borde: blueviolet;
$color-btnclaro: #3DDA71;
$color-btnoscuro: #168D06;